<br>
<div class="container">
  <h2 class="text-center">Formulario de registro</h2>
  <form (ngSubmit)="saveForm(form)" #form="ngForm" class="needs-validation">
    <div class="row">
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Nombre(s)</label>
        <input type="text" name="nombre" ngModel class="form-control" placeholder="Ingrese su nombre">
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Apellido paterno</label>
        <input type="text" name="apellido1" ngModel class="form-control" placeholder="Ingrese su apellido paterno">
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Apellido materno</label>
        <input class="form-control" type="text" name="apellido2" ngModel placeholder="Ingrese su apellido materno">
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" name="email" ngModel id="email" placeholder="Ingrese su email">
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Telefono</label>
        <input class="form-control" type="text" name="telefono" ngModel placeholder="Ingrese su telefono">
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Genero</label>
        <select name="genero" [(ngModel)]="default_option" (change)="dataChanged($event)" class="form-select"
          aria-label=".form-select example">
          <option *ngFor="let genero of generos_list" [value]="genero">
            {{genero}}
          </option>
          <option id="default-option" selected value={{default_option}}>-Selecciona una opcion-</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label" for="date">Fecha de nacimiento</label>
        <input class="form-control" type="date" name="date" ngModel placeholder="Fecha de nacimiento">
      </div>
      <!--
            <div class="col-sm-6 col-md-4 form-group mt-2">
              <label class="form-label">Direccion</label>
              <input class="form-control" placeholder="Direccion">
            </div>
          -->
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Nivel de estudios</label>
        <select [(ngModel)]="estudios" name="nivel_estudios" (change)="dataChangedNivelEstudios($event)"
          class="form-select" aria-label="seleccionar nivel de estudios" name="nivel_estudios">
          <option *ngFor="let estudio of estudios_list" [value]="estudio">
            {{estudio}}
          </option>
          <option id="default-option-lvl-est" selected value={{estudios}}>-Selecciona una opcion-</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Tiene estudios universitarios?</label>
        <select [(ngModel)]="carreras" name="carrera" class="form-select" aria-label="seleccionar carrera"
          id="estudios_uni" (change)="dataChangedCarrera($event)">
          <option *ngFor="let carrera of carreras_list" [value]="carrera">
            {{carrera}}
          </option>
          <option id="default-option-carrera" selected value={{carreras}}>-Selecciona una opcion-</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Ocupacion</label>
        <select [(ngModel)]="ocupaciones" name="ocupacion" class="form-select" aria-label="seleccionar carrera"
          (change)="dataChangedOcupacion($event)">
          <option *ngFor="let ocupacion of ocupaciones_list" [value]="ocupacion">
            {{ocupacion}}
          </option>
          <option id="default-option-ocupacion" selected value={{ocupaciones}}>-Selecciona una opcion-</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Nivel de ingresos (Mensual)</label>
        <select [(ngModel)]="ingresos" name="nivel_ingresos" class="form-select" aria-label="seleccionar carrera"
          (change)="dataChangedIngresos($event)">
          <option *ngFor="let ingreso of ingresos_list" [value]="ingreso">
            {{ingreso}}
          </option>
          <option id="default-option-ingresos" selected value={{ingresos}}>-Selecciona una opcion-</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Estado civil</label>
        <select [(ngModel)]="estado_civil" name="estado_civil" class="form-select" aria-label="seleccionar carrera"
          (change)="dataChangedEstCiv($event)">
          <option *ngFor="let estCiv of estado_civil_list" [value]="estCiv">
            {{estCiv}}
          </option>
          <option id="default-option-estCiv" selected value={{estado_civil}}>-Selecciona una opcion-</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Tiene hijos?</label>
        <select [(ngModel)]="tiene_hijos" name="tiene_hijos" class="form-select" aria-label="seleccionar ingresos"
        (change)="dataChangedTieneHijos($event)">
        <option *ngFor="let tiene_hijos of tiene_hijos_list" [value]="tiene_hijos">
          {{tiene_hijos}}
        </option>
        <option id="default-option-tiene_hijos" selected value={{tiene_hijos}}>-Selecciona una opcion-</option>
      </select>
      </div>
      <div class="col-sm-6 col-md-4 form-group mt-2">
        <label class="form-label">Cuantos hijos tiene?</label>
        <input class="form-control" type="number" name="numero_hijos" ngModel placeholder="..." id="numero_hijos">
      </div>
      <!--
            <div class="col-sm-6 col-md-4 form-group mt-2">
              <label class="form-label">Cuantos automoviles tiene en su hogar?</label>
              <input class="form-control" placeholder="escribe algo">
            </div>
            <div class="col-sm-6 col-md-4 form-group mt-2">
              <label class="form-label">Cuenta con internet?</label>
              <input class="form-control" placeholder="escribe algo">
            </div>
            <div class="col-sm-6 col-md-4 form-group mt-2">
              <label class="form-label">Cuantas personas viven en su hogar?</label>
              <input class="form-control" placeholder="escribe algo">
            </div>
            <div class="col-sm-6 col-md-4 form-group mt-2">
              <label class="form-label">Cuantas personas trabajaron en el ultimo mes?</label>
              <input class="form-control" placeholder="escribe algo">
            </div>
            -->
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-center mt-3 mb-3">
      <button class="btn btn-lg submit">
        <span class="text-white">Registrarme</span>
      </button>
    </div>
  </form>