<br>
<div class="container">
    <h2 class="text-center">Formulario de registro</h2>
    <form (ngSubmit)="saveForm(form)" #form="ngForm"  class="needs-validation">
        <div class="row">
            <div class="col-sm-4 col-md-4 form-group mt-2">
                <label class="form-label">Nombre(s)</label>
                <input ngModel required type="text" name="nombre" class="form-control" placeholder="Ingrese su nombre">
            </div>
            <div class="col-sm-4 col-md-4 form-group mt-2">
                <label class="form-label">Apellido paterno</label>
                <input ngModel  type="text" name="apellido1" class="form-control" placeholder="Ingrese apellido paterno">
            </div>
            <div class="col-sm-4 col-md-4 form-group mt-2">
                <label class="form-label">Apellido materno</label>
                <input ngModel class="form-control" type="text" name="apellido2" placeholder="Ingrese apellido materno">
            </div>
            <div class="col-sm-4 col-md-4 form-group mt-2">
                <label class="form-label">Correo</label>
                <input ngModel type="email" class="form-control" name="email" id="email" placeholder="example@gmail.com">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-center mt-3 mb-3">
                <button class="btn btn-lg submit border-dark">
                    <span class="text-white">Registrarme</span>
                </button>
            </div>
        </div>
    </form>