<div class="container">
    <h3 class="text-center">Tabla de usuarios</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre(s)</th>
            <th scope="col">Apellido paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Correo</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios; let i = index">
            <th scope="row">{{usuario.nombre}}</th>
            <td> {{usuario.apellido1}} </td>
            <td> {{usuario.apellido2}} </td>
            <td> {{usuario.email}} </td>
            <td>
                <button class="btn btn-danger" (click)="deleteUsuario(i)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>