<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="https://scontent.fcul3-1.fna.fbcdn.net/v/t1.6435-9/86796172_10157732902167110_3231242946347008000_n.png?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeF167-XkjCtZp5_BTwEqIkp0Ig50OyWPnzQiDnQ7JY-fD_uMv64gyr_nLMhX9rRIQ_3qE8frZRTiL4ctefQVdT0&_nc_ohc=ZTMkYCVUA6gAX95RcLa&_nc_ht=scontent.fcul3-1.fna&oh=00_AT9maUBhw-dh0FL0rt7Q7DKoSJX5R6OAU9G5yHgC9x1ymA&oe=62B87159" style="width: 80px;" alt="" srcset=""></a>
    <form class="d-flex">
        <button class="btn think-color border-dark text-light fw-bold" (click)="goToLink('https://somosthink.com/')">Quienes somos?</button>
    </form>
  </div>
</nav>